body {
    margin: 0px;
    background: #ccc;
}
label {
    display: block;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
}
input {
    display: block;
}

.button-creator {
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: 30px;
    padding: 30px;
}

#controles {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 0.875rem;
    background: #eee;
    padding: 1rem;
    border-radius: 4px;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.1);
}

.css {
    display: flex;
    flex-direction: column;
    font-family: 'IBM Plex Mono', monospace;
    color: #333;
    margin-top: 40px;
}

.css span {
    display: block;
    margin-bottom: .5rem;
}
